<div class="ui main container">
<h1>Política de Privacidade</h1>
<br>
<strong>Atualizado em 29 de Abril de 2017</strong>
<br>
<div class="ui vertical segment">
    <p> O website "Apartamentos em Lisboa" ("Nos", "Nós", "Nosso", "Website") foi criado para facilitar a comunicação e relacionamento entre corretores de imóveis no Brasil e em Portugal, além de fornecer informações como artigos, notícias, análises e dicas relacionadas à moradia e investimento em imóveis.
    
    Nós valorizamos e privacidade dos nossos visitantes ("Você", "Usuário", "Visitante", "seu", "Sua"), e para proteger sua informação pessoal, nós implementamos a seguinte política de privacidade relacionadas à coleta de dados. Se você tem alguma dúvida sobre esta política, pode entrar em contato através do e-mail info@apartamentosemlisboa.com .

    </p>
    <p> Nossa política de privacidade descreve o tipo e natureza da informação que coletamos e como a usamos, assim como as escolhas que você pode fazer sobre como a informação é coletada e usada. Também descrevemos como a sua informação pessoal é protegida.
    </p>
</div>
<div class="ui vertical segment">
    <strong>Informação que coletamos</strong>
    <p> O Website coleta informações pessoais quando você visita o Website. A maioria destas informações é coletada através de um formulário quando o usuário faz o registro. Algumas informações no formulário são opcionais e outras obrigatórias devido a normas, leis ou para o bom desempenho do serviço que o Website disponibiliza.

    </p>
    <p>
        Em geral, o tipo de informação que nós coletamos inclui, mas não fica limitada, as seguintes: 
    </p>
    <p>
        Dados pessoais necessários para confirmar a sua identidade, dados pessoais que permitam identificar segmentar nossos usuários e customizar o website para melhor uso, e dados pessoais relacionados a sua visita ao website através do navegador de seu computador que nos ajudam a oferecer uma melhor experiência de uso do Website. 
    </p>
    <p>
        O registro como corretor exige informações pessoais. Nós utilizamos esses dados para habilitar o uso da área privativa de usuários no website, disponibilizar informações de interesse exclusivo de corretores de imóveis, determinar a credibilidade do usuário para participaçẽos especiais, verificar que o usuário tem mais de 18 anos de idade, evitar fraudes, e manter comunicações necessárias as nossas atividades. 
    </p>
    <p>
        O website também irá guardar dados de clientes cadastrados quando os corretores assinalarem que os clientes foram avisados sobre o serviço que o website e os corretores em Portugal oferecerem. O cadastro de clientes potenciais será associado ao corretor que o cadastrou para eventuais questionamentos por parte dos clientes contatatos pelos corretores em Portugal. 
    </p>
</div>
<div class="ui vertical segment">
    <strong>Dados Financeiros (de corretores de imóveis no Brasil)</strong>
    <p>
        Solicitamos os dados bancários dos corretores cadastrados para que estes possam receber os pagamentos referente aos clientes indicados através da plataforma. O corretor deve manter este dado atualizado para que possa receber. O website não tem relação com o pagamento. Este pagamento, conforme registrado em contrato de parceria, é de responsabilidade da imobiliária em Portgual.
    </p>
</div>
<div class="ui vertical segment">
    <strong>Dados Financeiro (de potenciais clientes)</strong>
    <p>
        O Corretor de imóveis poderá informar os valores de interesse em imóveis ao cadastrar um cliente. Este dado somente é utilizado para que o corretor em Portugal possa atender melhor o cliente oferecendo propriedades adequadas ao seu perfil. Este dado não será compartilhado com outros agentes.
    </p>
</div>
<div class="ui vertical segment">
    <strong>Dados ocultos</strong>
    <p>
        Independentemente do registro ou não de usuário, o Website poderá utilizar de "cookies" no navegador do seu computador. Cookies são pequenos arquivos de texto guardados pelo navegador quando você visita o Website. Preferências dos usuários, atividade e outras informações podem ser escritas no cookies para garantir uma melhor navegação e que o usuário é o mesmo que está registrado, evitando fraudes e vazemento de dados. Informações pessoais não são registradas nos cookies para maior segurança dos dados. 
    </p>
    <p>
        Você pode configurar o seu navegador para não aceitar cookies ou deleta-los, porém, sua navegabilidade pelo website será reduzida ou até mesmo impossível.
    </p>
    <p>
        O website e seus provedores de serviços, como o Google Analytics, pode coletar dados de navegação relacionadas ao seu uso do navegador e do website, como endereço IP, tipo de navegador, provedor de internet, sistema operacional, com intuito de gerar dados para uma análise agregada de como o website é utilizado. Estes dados são coletados de forma anônima. 
    </p>
</div>
<div class="ui vertical segment">    
    <strong>
        Notificações e comunicações do website
    </strong>
    <p>
        O website poderá enviar notificações por e-mail. Algumas notificações são essenciais para o cadastro e confirmação de dados. 
    </p>
    <p>
        Também poderemos enviar notificações relacionadas a questões legais ou de segurança. 
    </p>
    <p>
        Você poderá entrar em contato com o website através de do e-mail info@apartamentosemlisboa.com .
    </p>
    <p>
        Atualização de Dados
    </p>
    <p>
        Nós estimulamos os usuários a manterem o seu cadastro atualizado. No "Menu do Corretor", o usuário tem um link para a página em que pode atualizar o seu perfil. 
    </p>
</div>
