<h4>Hi {{firstName}}, Siga o link  abaixo para cadastrar uma nova senha.</h4>
</br>
<a href='http://apartamentosemlisboa.com/u/password_reset?token={{token}}'>Clique aqui para cadastra a nova senha.</a>

