<div class="ui main container">
    <h2>Quem Somos</h2>

    <div class="ui segment">
       
            <img class="ui small left floated image" src='/images/expored.jpg' alt='logo de Remax Expo'>
            
      

        <p>Somos a RE/Max Expo, a maior e mais premiada rede de agências da Europa por 4 anos consecutivos.</p>
        </br>
        <p>Já operamos com parcerias internacionais desde 2012 e agora disponibilizamos esta plataforma para sua maior comodidade
            e com mais transparência no processo.</p>



        <br>
        <h4>Objetivo</h4>


        <p>Esta plataforma foi criada para facilitar parcerias internacionais de mediação imobiliária oferecendo transparência
            entre você e o maior grupo de intermediação de Portugal.</p>
        </br>
        <p>Aqui você terá acesso a um contrato de parceria e um canal para indicar seu cliente potencial de forma prática e
            segura.</p>
<img class="ui medium right floated image" src='/images/first1.jpg' alt='agência número 1 da Europa'>
            
        </br>
        <p>Nós, da ExpoGroup, somos a agência mais premiada da Europa por 4 anos consecutivos e não temos dúvidas que somos
            o melhor parceiro para você.</p>
        </br>
        <p>Seja bem vindo!</p>

    </div>



</div>