<div class='ui main' id='menu'>
  <h1 class='ui center aligned header'>Menu do Corretor</h1>
  <div class='ui segment'>
    <h3 class="ui center aligned icon header">
      <i class="circular users icon"></i> Clientes
    </h3>
    <div class='ui basic segment'>
    <h4><a href='/customers/new'>Cadastrar um novo cliente</a></h4>
    <h4><a href='/customers'>Listar todos os clientes cadastrados</a></h4>
    </div>
  </div>
  <div class='ui segment'>
    <h3 class="ui center aligned icon header">
      <i class="circular user icon"></i> Meu Perfil
    </h3>
    <h4><a href='/u/contracts'>Ver contratos</a></h4>
    <h4><a href='/u/{{id}}/edit'>Atualizar dados</a></h4>
    <h5 class='ui tiny gray header'><a href='/u/delete-user'>Remover Conta</a></h5>
  </div>
</div>