<div class="ui main container">

    <h1>Como funciona?</h1>
    <br>
    <div class='ui segment'>
        <div class="ui vertical segment">
            <p>Este site facilita a parceria entre você e o maior grupo imobiliário de Portugal.</p>
            </br>
            <p>Você se cadastra, imprime o contrato e envia para a RE/Max Expo em Portugal.</p>
            </br>
            <p>A RE/Max Expo assina e te envia uma via, garantindo assim os termos da parceria firmada para negócios imobiliários internacionais.</p>
            </br>
            <p>Preencha o formulário de novo cliente e tenha certeza de que seu cliente será atendido pela mais premiada equipe da Europa.</p>
            </br>
            <p>Aos concretizarmos a transação imobiliária o Parceiro apresenta sua (fatura/NF) para recebimento da comissão em Portugal ou no Brasil.</p>
            </br>
            <p>Parceria transparente e com contrato, só com a maior intermediadora da Europa!</p>            
        </div>
    </div>
</div>