<div class="ui centered stackable container grid">
<div class="five wide column"></div>
    <div class="six wide column">
      <h2 class="ui big header gray center aligned ">Divulgador</h2>
      <div class='ui basic segment'>
        <img class="ui medium centered rounded image" src="http://lorempixel.com/400/200/city/">
        </div>



 </div>
 <div class="five wide column"></div>
</div>