<script>
    $(document)
        .ready(function () {
            $('.ui.accordion')
                .accordion();
            $('.ui.secondary.pointing.menu .item').tab();
        });
</script>

<div class="ui main container">
    <div class="ui container">
        <h1 class="ui form header" style='text-align: center'>Perguntas Frequentes</h1>
        </br>

        <div class="ui styled accordion fluid" style='max-width: 600px; margin: auto'>
            <div class="title"><i class="dropdown icon"></i>Quem pode ser parceiro?</div>
            <div class="content">
                <p>A plataforma destina-se à qualquer profissional liberal que tenha clientes qualificados para comprar em Portugal. Pode ser de qualquer área desde que preencha os dados do formulário de adesão e adira ao contrato de parceria.</p>
                    <p>Exemplos: Advogados, arquitetos, corretores, imobiliárias, engenheiros, construtores, economistas, etc. A plataforma aceita pessoas físicas e jurídicas. Fique atento às condições e documentos para o recebimento de suas comissões.</p>
            </div>
            <div class="title"><i class="dropdown icon"></i>Qual a garantia de pagamento por indicar um potencial cliente?</div>
            <div class="content">
                <p>A garantia é o contrato de parceria entre o Parceiro e o maior grupo de intermediação de Portugal. No contrato
                    constam valores e condições.</p>
            </div>
            <div class="title"><i class="dropdown icon"></i>Quem faz a gestão do processo de compra?</div>
            <div class="content">
                <p>Toda a gestão desde apresentação das oportunidades até os contratos e escrituras é de responsabilidade da empresa intermediadora qualificada no contrato de parceria.</p>
            </div>
            <div class="title"><i class="dropdown icon"></i>Há custos para o corretor no Brasil?</div>
            <div class="content">
                <p>Não há qualquer custo de cadastro ou mensalidade para aderir à parceria. Para a efetivação dos contratos há custos com autenticação de suas assinaturas em cartório no contrato físico e envio de correspondência para a intermediadora em Portugal.</p>
            </div>
            <div class="title"><i class="dropdown icon"></i>Posso receber a comissão em quais países?</div>
            <div class="content">
                <p>Pode receber em qualquer país, no momento oportuno informe os dados bancários e IBAN.</p>
            </div>
            <div class="title"><i class="dropdown icon"></i>Quem coordena os processos quando o cliente quer Golden Visa?</div>
            <div class="content">
                <p>A intermediadora qualificada no contrato faz toda a gestão também nos casos de Golden Visa, temos profissionais e um departamento de processos habituados com a prática. Assessoria complementar custa ao cliente de 7.500 à 12.000 Euros, pagos pelo cliente comprador. O valor pode variar em função do tamanho da família, prazos, etc.</p>
            </div>
            <div class="title"><i class="dropdown icon"></i>Qual prazo de pagamento das comissões?</div>
            <div class="content">
                <p>As comissões ficam disponíveis 15 dias úteis após a efetivação do negócio. O parceiro será comunicado da
                    disponibilidade para emissão de sua NF.</p>
            </div>
            <div class="title"><i class="dropdown icon"></i>Quais condições para o pagamento das comissões?</div>
            <div class="content">
                <p>A primeira é que seu cliente efetivamente compre com a intermediadora qualificada no contrato. Para receber sua comissão se faz necessária apenas a emissão de documento fiscal eletrônico em nome do Parceiro, e a guia do país de destino para evitar dupla tributação.</p>
            </div>
            <div class="title"><i class="dropdown icon"></i>Meu cliente tem interesse, mas é o Advogado dele que cuida dos investimentos. Devo
                cadastrar o Advogado também?</div>
            <div class="content">
                <p>Não, o cadastro da indicação deve ser somente do seu cliente interessado em comprar em Portugal. Estamos habituados ao atendimento “de Advogado para Advogado” e nosso jurídico acompanhará de perto o processo. Indique no campo de observações os nomes de contatos ou representantes do cliente, ou ainda assistentes que possam facilitar o contato.</p>
            </div>
            <div class="title"><i class="dropdown icon"></i>É preciso ter o CRECI?</div>
            <div class="content">
                <p>Não, não existe esse tipo de órgão em Portugal e estamos já trabalhamos com Parceiros consultores e profissionais liberais como advogados, arquitetos etc.</p>
            </div>
        </div>


        <br>
        <div class="ui message floating form">
            <div class="header">
                Outras dúvidas?
            </div>
            <p>Entre em contato via e-mail: <strong>info@apartamentosemlisboa.com</strong></p>
        </div>

    </div>

</div>