<style>
  #login-logo {
    margin: 20px auto 40px auto;
  }
</style>
<div class="ui centered stackable container grid">
<div class="five wide column"></div>
    <div class="six wide column">
      
      
      <div class="ui raised segment center aligned">

      <form action="/u/login" method="post" class="ui form">
      <img class="ui medium centered image" id="login-logo" src="images/aplisboa.png">
        
        {{!--<h2 class="ui header gray center aligned ">Login</h2>--}}


        <div class="field">
          <label>E-mail</label>
          <input type="text" name="email" placeholder="E-Mail">
        </div>

        <div class="field">
          <label>Senha</label>
          <input type="password" name="password" placeholder="">
        </div>

        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" name="remember"><label>Lembrar usuário</label>

          </div>
          <span class="ui tiny header"><a href='/u/recovery'>Recuperar senha</a></span>
        </div>

        <button class="ui primary button" type="submit">Entrar</button>
      </form>
      </div>
 </div>
 <div class="five wide column"></div>


<div class='ui form' style='margin-top: 60px'>
<div><a href='/tos' style='color: gray'>Termos do Serviço</a></div>
<div><a href='/pp'style='color: gray'>Política de Privacidade</a></div>
</div>
</div>