<div class="ui main container">
    <div class="ui four column stackable grid">
        <div class="two column row">
            <div class="column"><img class="ui centered large image" src='/images/expoa.jpg' alt='agência número 1 da Europa'> </div>
            <div class="column"  style='display: flex; justify-content: center; align-items: center'>
                <a href='/register?ref={{ref}}'>
                    {{!--<button class="ui big blue button" style='position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);'>Registrar-se como Parceiro</button>--}}
                    <button class="ui big blue button">Registrar-se como Parceiro</button>
                </a>
            </div>
        </div>
        <div class="column" style='text-align: justify'>
            <p>Somos a RE/Max Expo, a maior e mais premiada rede de agências da Europa por 4 anos consecutivos.</p>
        </div>
        <div class="column" style='text-align: justify'>
            <p>Esta plataforma foi criada para facilitar parcerias internacionais de mediação imobiliária oferecendo transparência
                entre você e o maior grupo de intermediação de Portugal.</p>
        </div>
        <div class="column" style='text-align: justify'>
            <p>Já operamos com parcerias internacionais desde 2012 e agora disponibilizamos esta plataforma para sua maior comodidade
                e com mais transparência no processo.</p>
        </div>
        <div class="column" style='text-align: justify'>
            <p>Aqui você terá acesso a um contrato de parceria e um canal para indicar seu cliente potencial de forma prática
                e segura.
            </p>
        </div>
    </div>
</div>