<div class='ui form'>
    <div style="text-align:center;">
    <div class='ui small center aligned green header'>Conta ativada!</div>
    </br>
    <a href='/u/contracts'><div class='ui positive button'>Gerar Contrato de Parceria</div></a>
    <h5 class='ui tiny header gray center aligned'>Ou</h5>
    <a href='/broker'><div class='ui gray button'>Menu do Corretor</div></a>
    </div>
</div>