<div class='ui form' style="text-align:center;">
    <a href='/{{id}}.pdf' target="_blank">
        <button class='ui big button green'>Download do Contrato de Parceria</button>
    </a>
    <div class='ui raised segment' style='text-align: left'>
        <p>Lembre-se de rubricar as todas folhas do contrato, assinar e reconhecer firma em cartório.
        </br>
        Se cadastrou sua empresa (PJ) anexar cópia autenticada do Contrato Social autalizado.</p>
        </br>
        <p>Envie seu contrato para</p>        
        <p>A/C Fabian De Marchi Bexiga
            </br>
        PARTILHARADICAL – MEDIAÇÃO IMOBILIÁRIA LDA,
        </br>
        RE/MAX ExpoGroup
        </br>
        Rua Cidade de Bissau, Lote 49, Loja 49 A e B
        </br>
        Código Postal 1800-075
        </br>
        Lisboa, Portugal
        </p>
    </div>
</div>