<div class='ui segment form'>
    <div class='ui basic segment'>
    <h4 class='ui header center aligned'>Tem certeza que deseja deletar a sua conta?</h4>
    </div>
    <div style="text-align:center;">
    <p>Depois deste ação, você não poderá mais cadastrar clientes</p>
    
    <a href='/broker'><button class='ui button'>Voltar</button></a>
    <a href='/u/{{id}}?_method=DELETE'><button class='ui red button'>Deletar</button></a>
    </div>
    
</div>