<div class="ui centered stackable container grid">
    <div class="five wide column"></div>
    <div class="six wide column">
        <h2 class="ui header gray center aligned ">Cadastro</h2>

        <div class="ui info message">
            <div class="header">Te enviamos um e-mail.</div>
            <ul class="list">
                <li>Siga o procedimento descrito neste e-mail para ativar a sua conta.</li>
                <li>Caso não encontre o e-mail, verifique se não for para a pasta 'Spam'.</li>
            </ul>
        </div>

    </div>
    <div class="five wide column"></div>
</div>