
<div class="ui centered stackable container grid">
<div class="five wide column"></div>
    <div class="six wide column">
      <h2 class="ui header gray center aligned ">Digite abaixo uma nova senha para o seu usuário</h2>
      <div class="ui raised segment center aligned">

      <form action="/u/password_reset" method="post" class="ui form">

        
        


        <div class="field">
          <label>Nova senha:</label>
          <input type="password" name="password" placeholder="E-Mail">
        </div>



        <button class="ui green button" type="submit">Prosseguir</button>
      </form>
      </div>
 </div>
 <div class="five wide column"></div>
</div>