
<div class="ui centered stackable container grid">
<div class="five wide column"></div>
    <div class="six wide column">
      <h2 class="ui header gray center aligned ">Recuperar Senha</h2>
      <div class="ui raised segment center aligned">

      <form action="/u/recovery" method="post" class="ui form">

        
        


        <div class="field">
          <label>E-mail cadastrado</label>
          <input type="text" name="email" placeholder="E-Mail">
        </div>



        <button class="ui green button" type="submit">Prosseguir</button>
      </form>
      </div>
 </div>
 <div class="five wide column"></div>
</div>