<div class="ui relaxed divided list form">
    {{# each customers}}
    <div class="item">
        <i class="large user middle aligned icon"></i>
        <div class="content">
            <div class="header">{{full_name}}</div>
            <a href='/customers/{{_id}}/admin'><div class="description">Ver informações</div></a>
        </div>
    </div>    
    {{/each}}
</div>