<style type="text/css">
    .ui .form {
      max-width: 600px;
      margin: auto;
    }
</style>


  <form id="form1" action="/customers" method="post" class="ui form">
    <h2 class="ui small header">Formulário de Indicação de Novo Cliente</h2>

    <div class="field required">
      <label>C.P.F.</label>
      <input id="cpf" type="text" name="cpf" placeholder="123.456.789-01" value='{{customer.cpf}}'>
    </div>

    <div class="field required">
      <label>Nome Completo</label>
      <input type="text" name="full_name" placeholder="Nome Completo">
    </div>
    
    <div class="field">
      <label>Conjuge</label>
      <input type="text" name="spouse" placeholder="Nome do Conjuge">
    </div>

    <div class="field">
      <label>Telefone Residencial (com DDD)</label>
      <input type="number" name="phone_number1" placeholder="(11) 5012-3456">
    </div>

    <div class="field">
      <label>Telefone Celular (com DDD)</label>
      <input type="number" name="phone_number2" placeholder="(11) 91234-5678">
    </div>
    
    <div class="field required">
      <label>E-mail Pessoal</label>
      <input type="email" name="email1" placeholder="E-Mail">
    </div>

    <div class="field">
      <label>E-mail Alternativo</label>
      <input type="email" name="email2" placeholder="E-Mail">
    </div>

    <div class="field">
      <label>Skype</label>
      <input type="text" name="skype" placeholder="Usuario no Skype">
    </div>

    <div class="field">
      <label>Link da página do perfil no Facebook</label>
      <input type="url" name="facebook_url" placeholder="Cole o link aqui...">
    </div>

    <div class="field">
      <label>Endereço completo (Rua, número e complemento)</label>
      <input type="text" name="street" placeholder="Avenida Brasil, 100 Ap.1001">
    </div>

    <div class="field">
      <label>Cidade</label>
      <input type="text" name="city" placeholder="Cidade">
    </div>

    <div class="field">
      <label>Estado</label>
      <input type="text" name="state" placeholder="Sigla do Estado">
    </div>

    <div class="field">
      <label>País</label>
      <input type="text" name="country" placeholder="Brasil">
    </div>

    <div class="field">
      <label>Nacionalidade</label>
      <input type="text" name="nationality1" placeholder="">
    </div>

    <div class="field">
      <label>Nacionalidade</label>
      <input type="text" name="nationality2" placeholder="">
    </div>  

    <div class="field">
      <label>Horário para Contato</label>
      <input type="text" name="time_to_contact" placeholder="9:00 às 17:00h">
    </div>

    <div class="field">
      <label>Área de trabalho / Profissão</label>
      <input type="text" name="work_field" placeholder="Corretor, Engenheiro....">
    </div>

    <div class="field">
      <label>Empresa onde trabalha/label>
      <input type="text" name="company" placeholder="ABC Ltda.">
    </div>

    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" name="government_employee">
        <label>Funcionário Público?</label>
      </div>
    </div>

    <div class="field">
      <label>Interesses</label>
      <input type="text" name="interests" placeholder="Investimentos, Futebol, Viagens...">
    </div>

    <div class="field">
      <label>Área de trabalho / Profissão</label>
      <input type="text" name="property_value" placeholder="Corretor, Engenheiro....">
    </div>

    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" name="property_value">
        <label>Interesse no "Golden Visa"</label>
      </div>
    </div>

    <div class="field">
      <label>Cidades de interesse</label>
      <input type="text" name="city_of_interest" placeholder="Lisboa, Porto, etc.">
    </div>

    <div class="field">
      <label>hghdfg</label>
      <input type="text" name="investment_profile" placeholder="Corretor, Engenheiro....">
    </div>

    <div class="field">
      <label>hghdfg</label>
      <input type="text" name="property_type" placeholder="Corretor, Engenheiro....">
    </div>

    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" name="financing_needed">
        <label>Precisa de financiamento?</label>
      </div>      
    </div>

    <div class="field">
      <label>Valor disponível no ato ("Entrada") em Reais (R$)</label>
      <input type="number" name="amount_available" placeholder="Valor">
    </div>
    
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" name="customer_informed">
        <label>Seu cliente foi informado que está indicando atendimento para a Remax ExpoGoup?</label>
      </div>
      </br>
      <p>Caso o cliente não tenha interesse em investir em Portugal e essa conduta for identificada recorrente seu cadastro na plataforma pode ser cancelado. O consultor parceiro é responsável pela prospecção e indicação de leads qualificados como interessados em Portugal.</p>
    </div>

    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" name="contract">
        <label>Concordo com o <a href='/contract' target="_blank">contrato de parceria</a> do ExpoGroup</label>
      </div>      
    </div>

    <button class="ui primary button" type="submit">Finalizar</button>
    
  </form>


<script src="/javascripts/jquery.maskedinput.js" type="text/javascript"></script>
<script>
        $(document).ready(function(){
        $("#cpf").mask("***.***.***-**");
});
</script>